<h1>Gif's for <%= @category.name %></h1>
<p>
  <%= link_to "Delete Category", admin_category_path(@category), method: :delete %>
</p>
<h2><%= link_to "Generate Gif", admin_category_gifs_path(@category), method: :post  %></h2>

<div class="row">
    <%= @category.gifs.each do |gif| %>
    <p>
      <img src="<%= gif.small_image %>" alt="<%= gif.url_path %>" />
      <%= link_to "View Gif", admin_category_gif_path(gif.category, gif) %>
    </p>
    <% end %>
</div>
